body{
    padding: 5% 10%;
    font-family: "Oswald", sans-serif;
}

.section_head{
    border: 1px solid;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(70, 87, 81);
    color: white;
    
}

.section_best_film{
    display: flex;
    border: 1px solid;
    justify-content: center;
    padding: 5%;
}

.section_best_film > div{
    margin: 20px;
}

.section_best_film > div > img{
    width: auto;
    height: 200px;
}

.best_film_btn{
    width: 20%;
    margin-left: auto;
    display:block;
    background-color: red;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 10px;

}

.section_head > img {
    height: 100px;
}

.section{
    border: 1px solid;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.film{
    border: 1px solid red;
    margin: 10px;
    display:inline-block;
    
    /*flex: 1 1 calc(33.33%-20px)*/
    width: 25%;
    position: relative;
}
.film > img{
    width: 100%;
    height: 100%;
    display:block;
    

}
.film_title{
    position: absolute;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.594);
    width: 98%;
    height: 40%;
    color: white;
    padding: 1%;
    

}
.film_title > button{
    position: absolute;
    right: 0;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 5px;
    width: 75px;
    margin: 5px;
}

.section_modal{
    border: 1px solid;
    padding: 30px; 
    justify-content: center;  
}

.modal{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    padding: 20px;
}

.film_modal{
    display: flex;
    justify-content: space-between;
    
}

.film_modal > div > img{
    width: 100%;
    height: 300px;

}

.modal_btn{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    background-color: red;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 5px;
}